/*
all styles for edit page
*/
body{
    background: url(../img/bgLogin.jpg);
}
.title{
    text-shadow: 2px 2px 5px black;
    font-family: 'Raleway', sans-serif;
    color: black; 
    font-size: 40px;
}
.frmLogin{
    margin-top: 50px;
    background-color: #ebe8e6;
    max-width: 960px;
    padding: 20px;
    box-shadow: 2px 2px 5px #000;
}
.thumbnail{
    padding:5px;
    max-width: 245px;
}
.label .label-warning{
    font-size: 14px;
    padding:5px;
}
a,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: whitesmoke;
}