/*
all style for login page
*/
body{
    background: url(../img/adminBG.jpg);
}
.frmLogin{
    margin-top: 50px;
    background-color: #ebe8e6;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 1px 7px #fff;
}
@media (min-width: 960px){
    .centerAll{
        width: 960px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.titleFont{
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 2px 8px #3498DB, 2px 2px 8px #000;
}

