body{
    background: url('../img/wood.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.padLeft{
    padding-left: 10px;
}
.box{
    width:300px;
    height:300px;
    background-color: #9bceaa;
    
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 200px;
    box-shadow: 10px 10px 10px #3E5C6E;
}
.core{
    padding-top: 200px;
    margin:0;
   
}
.margTop{
    margin-top: 100px;
}
.tPad{
    padding-top: 40px;
    

}
.boxLable{
    
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    font-size: 30px;
    color:#3E5C6E;
}
.nameFont{
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    color:#EFEFD6;
    text-shadow: 3px 3px 3px #52B29D;
    font-size:100px;
    
}
.titleFont{
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    color:#EFEFD6;
    font-size:40px;
    text-shadow: 3px 3px 3px #52B29D;
}
.pLeft{
    margin-left: 30px;
    
}

.footer{
    margin-top: 100px;
    
    color: white;
}

