/*Theme Three*/

body{
    background: url(../img/themeThreeBG.png); 
    padding-bottom: 70px;
}
@media (max-width: 480px){
    body{
       padding-bottom: 75px;
    }
}
.navbar{
    border-radius: 0px;
}
/*{Header Style}--------------------------------------------------------------*/
#header{
    margin-top: 50px;
    margin-bottom: 100px;
}
@media (max-width: 480px){
    #header{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
.iconResponsive{
    width: 80px;
    height:80px;
}
.nameAndTitle{
   
}
.nameAndTitle > h1{
    font-size: 80px;
    text-shadow: 1px 1px 6px #000;
    color: #000;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000 , 0 6px 10px #19B5FE;
    font-family: 'Courgette', cursive;
}
.nameAndTitle > p{
    font-size: 25px;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000 , 0 4px 6px #19B5FE;
    color: #000;
    font-family: 'Courgette', cursive;
}
@media (max-width: 480px){
    .nameAndTitle{
        width: 100%;
        padding: 5px;
    }
    .nameAndTitle > h1{
        font-size: 50px;
        text-align: center;  
    }
    .nameAndTitle > p{
        font-size: 20px;
        text-align: center;
    }
    .iconResponsive{
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }
}
/*{End Header Style}----------------------------------------------------------*/

/*{ContentBox Style}----------------------------------------------------------*/
.experienceIcon, .aboutIcon, .contactIcon{
    max-width:300px;
    max-height:300px;
    min-height: 300px;
    border-radius: 150px;
    background-color: #19B5FE;
    box-shadow: 2px 2px 6px black inset;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}
.innerIcon{
    margin-top:25px;
    -webkit-transition: all 1.9s ease; transition: all 1.9s ease;
}
.innerIcon:hover{
    -webkit-transform: rotate(360deg); transform: rotate(360deg);
}
@media (max-width: 480px){
    .experienceIcon{
        margin-top: 0;
        min-height: 160px;
    }
    .aboutIcon{
        margin-top: 15px;
        min-height: 160px;
    }
    .contactIcon{
        margin-top: 15px;
        min-height: 160px;
    }
    .innerIcon{
        margin-top:5px;
        height: 80px;
        width: 80px;
    }
}
/*{End ContentBox Style}------------------------------------------------------*/

/*{Footer Style}--------------------------------------------------------------*/
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
#footer{
    margin-top: 100px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
}
@media (max-width: 480px){
    .label{
        margin-right: 15px;
    }
}
/*{End Footer Style}----------------------------------------------------------*/

